* {
    margin: 0;
    padding: 0;
}

html,
body {
    
    height: 100vh;
    width: 100vw;
}

main {
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    position: relative;
    background: url('./pacote-d013/imagens/fundo-madeira.jpg') center center fixed;
    background-size: cover;
}
.celular {
    height: 650px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("./pacote-d013/imagens/frame-iphone.png") center center no-repeat fixed;
}

.tela-celular{
    background-color: rgba(255, 0, 0, 0.295);
    height: 475px;
    width: 270px;
    position: absolute;
    top: 14%;
    left: 23%;
    background-size: contain;
    border-radius: 5px;
}

iframe{
    height: 475px;
    width: 270px;
    position: absolute;
    top: 14%;
    left: 23%;
    background-color: black;
}

img{
    border-radius: 50%;
    height: 80px;
    margin: 13px 10px;
    box-shadow: 0 0 10px black;
}

li{
    text-align: right;
}


